@font-face {
	font-family:"Boston Traffic";
	font-style:normal;
	font-weight:normal;
	src : url("../font/BostonTraffic.ttf");
}
@font-face {
	font-family:"A-OTF Gothic MB101 Pro B";
	font-style:normal;
	font-weight:bold;
	src : url("../font/GothicMB101Pro-Bold.otf");
}
@font-face {
	font-family:"A-OTF Gothic MB101 Pro DB";
	font-style:normal;
	font-weight:600;
	src : url("../font/GothicMB101Pro-DeBold.otf");
}
@font-face {
	font-family:"A-OTF Gothic MB101 Pro L";
	font-style:normal;
	font-weight:300;
	src : url("../font/GothicMB101Pro-Light.otf");
}
@font-face {
	font-family:"FOT-NewCinemaB Std D";
	font-style:normal;
	font-weight:600;
	src : url("../font/NewCinemaBStd-D.otf");
}
@font-face {
	font-family:"TBUDGothic Std R";
	font-style:normal;
	font-weight:normal;
	src : url("../font/TBUDGoStd-Regular.otf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
div.基本テキストフレーム {
	border-style:solid;
}
div.アイコン {
	border-style:solid;
}
p.ショルダー {
	-epub-line-break:normal;
	-epub-text-align-last:left;
	color:#003b87;
	font-family:"シネマVP pachi Regular", sans-serif;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.ショルダー2020青 {
	-epub-line-break:normal;
	-epub-text-align-last:left;
	color:#003b87;
	font-family:"FOT-NewCinemaB Std D", serif;
	font-size:1.046em;
	font-style:normal;
	font-variant:normal;
	font-weight:600;
	line-height:1.25;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.タイトル_ニューシネマに青 {
	-epub-text-align-last:left;
	color:#003b87;
	font-family:"FOT-NewCinemaB Std D", serif;
	font-size:2.538em;
	font-style:normal;
	font-variant:normal;
	font-weight:600;
	line-height:1.212;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.中見出し-アイコンあり {
	-epub-line-break:normal;
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF Gothic MB101 Pro B", sans-serif;
	font-size:1.538em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1;
	margin-bottom:14px;
	margin-left:34px;
	margin-right:0;
	margin-top:14px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.小見出し {
	-epub-line-break:normal;
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF Gothic MB101 Pro DB", sans-serif;
	font-size:1.077em;
	font-style:normal;
	font-variant:normal;
	font-weight:600;
	line-height:1.429;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.本文 {
	-epub-line-break:normal;
	-epub-text-align-last:left;
	color:#000000;
	font-family:"TBUDGothic Std R", sans-serif;
	font-size:0.923em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.667;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.注釈 {
	-epub-line-break:normal;
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF Gothic MB101 Pro L", sans-serif;
	font-size:0.769em;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.4;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.上付 {
	vertical-align:super;
}
p.ParaOverride-1 {
	text-align:center;
}
p.ParaOverride-2 {
	text-align:left;
}
span.CharOverride-1 {
	font-family:"Boston Traffic";
	font-size:1.437em;
	font-style:normal;
	font-weight:normal;
}
span._idGenCharOverride-1 {
	font-size:58%;
}
#_idContainer000 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:72.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:72.14px;
	z-index:8;
}
#_idContainer001 {
	-webkit-transform:translate(3.762px,3.722px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:64.62px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3.762px,3.722px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:64.63px;
	z-index:9;
}
#_idContainer002 {
	-webkit-transform:translate(8.287px,24.096px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.287px,24.096px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:10.50px;
	z-index:1;
}
#_idContainer003 {
	-webkit-transform:translate(8.381px,41.526px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.381px,41.526px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:7.93px;
	z-index:10;
}
#_idContainer004 {
	-webkit-transform:translate(13.999px,47.605px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(13.999px,47.605px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:7.93px;
	z-index:12;
}
#_idContainer005 {
	-webkit-transform:translate(17.200px,39.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(17.200px,39.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:7.93px;
	z-index:11;
}
#_idContainer006 {
	-webkit-transform:translate(18.239px,23.433px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(18.239px,23.433px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:4.73px;
	z-index:2;
}
#_idContainer007 {
	-webkit-transform:translate(22.870px,22.290px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(22.870px,22.290px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:8.83px;
	z-index:3;
}
#_idContainer008 {
	-webkit-transform:translate(23.741px,39.289px) rotate(350.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.57px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(23.741px,39.289px) rotate(350.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:26.06px;
	z-index:0;
}
#_idContainer009 {
	-webkit-transform:translate(32.027px,20.675px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(32.027px,20.675px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:8.83px;
	z-index:4;
}
#_idContainer010 {
	-webkit-transform:translate(40.583px,19.493px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(40.583px,19.493px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:4.73px;
	z-index:5;
}
#_idContainer011 {
	-webkit-transform:translate(45.086px,18.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.38px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(45.086px,18.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:7.99px;
	z-index:6;
}
#_idContainer012 {
	-webkit-transform:translate(48.316px,34.484px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(48.316px,34.484px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:7.93px;
	z-index:13;
}
#_idContainer013 {
	-webkit-transform:translate(52.884px,16.597px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(52.884px,16.597px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:8.95px;
	z-index:7;
}
#_idContainer014 {
	-webkit-transform:translate(53.934px,40.563px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(53.934px,40.563px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:7.93px;
	z-index:15;
}
#_idContainer015 {
	-webkit-transform:translate(57.134px,32.929px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(57.134px,32.929px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:7.93px;
	z-index:14;
}
#_idContainer016 {
	display:inline-block;
	height:72px;
	position:relative;
	width:72px;
}
#_idContainer017, #_idContainer018 {
	display:inline-block;
	height:30px;
	width:30px;
}
#_idContainer021, #_idContainer036 {
	display:inline-block;
	width:100%;
}
#_idContainer023, #_idContainer025, #_idContainer026, #_idContainer027, #_idContainer028, #_idContainer029, #_idContainer030, #_idContainer031, #_idContainer032, #_idContainer033, #_idContainer034, #_idContainer035 {
	display:inline-block;
	height:0px;
	position:relative;
	width:83px;
}
#_idContainer024 {
	display:inline-block;
	height:162px;
	position:relative;
	width:83px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	background-color:#003b87;
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#ffffff;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
