@font-face {
	font-family:"FOT-NewCinemaB Std D";
	font-style:normal;
	font-weight:600;
	src : url("../font/NewCinemaBStd-D.otf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.基本グラフィックフレーム {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.基本テキストフレーム {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:"FOT-NewCinemaB Std D", serif;
	font-size:155.9px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-2 {
	color:#612468;
	font-family:"FOT-NewCinemaB Std D", serif;
	font-size:192.8px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-3 {
	color:#612468;
	font-family:"FOT-NewCinemaB Std D", serif;
	font-size:469.8px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-4 {
	color:#ffffff;
	font-family:"FOT-NewCinemaB Std D", serif;
	font-size:170.1px;
	font-style:normal;
	font-weight:600;
}
#_idContainer000 {
	-webkit-transform:translate(-8.504px,-8.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:532.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-8.504px,-8.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:742.68px;
}
#_idContainer001 {
	-webkit-transform:translate(23.527px,36.992px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(23.527px,36.992px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:681.73px;
}
#_idContainer002 {
	-webkit-transform:translate(36.850px,476.155px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.07px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.850px,476.155px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.01px;
}
#_idContainer003, #_idContainer039 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:41.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:16.94px;
}
#_idContainer004 {
	-webkit-transform:translate(5.285px,30.967px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5.285px,30.967px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:21.12px;
}
#_idContainer005, #_idContainer041 {
	-webkit-transform:translate(0.000px,54.399px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:41.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,54.399px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:16.94px;
}
#_idContainer006 {
	-webkit-transform:translate(5.211px,92.017px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.95px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5.211px,92.017px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:32.49px;
}
#_idContainer007, #_idContainer043 {
	-webkit-transform:translate(0.000px,108.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:41.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,108.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:16.94px;
}
#_idContainer008 {
	-webkit-transform:translate(5.294px,146.418px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5.294px,146.418px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:34.27px;
}
#_idContainer009, #_idContainer045 {
	-webkit-transform:translate(0.000px,163.198px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:41.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,163.198px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:16.94px;
}
#_idContainer010 {
	-webkit-transform:translate(5.294px,200.816px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5.294px,200.816px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:34.07px;
}
#_idContainer011, #_idContainer047 {
	-webkit-transform:translate(0.000px,217.598px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:41.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,217.598px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:16.94px;
}
#_idContainer012 {
	-webkit-transform:translate(5.294px,255.214px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5.294px,255.214px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:34.54px;
}
#_idContainer013, #_idContainer049 {
	-webkit-transform:translate(0.000px,271.997px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:41.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,271.997px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:16.94px;
}
#_idContainer014 {
	-webkit-transform:translate(5.294px,309.617px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5.294px,309.617px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:34.06px;
}
#_idContainer015, #_idContainer051 {
	-webkit-transform:translate(0.000px,326.397px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:41.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,326.397px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:16.94px;
}
#_idContainer016 {
	-webkit-transform:translate(5.294px,354.745px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5.294px,354.745px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:15.75px;
}
#_idContainer017 {
	-webkit-transform:translate(8.503px,62.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:367.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.503px,62.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:16.94px;
}
#_idContainer018 {
	-webkit-transform:translate(45.138px,83.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(45.138px,83.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:10.50px;
}
#_idContainer019 {
	-webkit-transform:translate(55.089px,82.961px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(55.089px,82.961px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:4.73px;
}
#_idContainer020 {
	-webkit-transform:translate(59.721px,81.817px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(59.721px,81.817px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:8.83px;
}
#_idContainer021 {
	-webkit-transform:translate(68.878px,80.203px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(68.878px,80.203px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:8.83px;
}
#_idContainer022 {
	-webkit-transform:translate(77.434px,79.021px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.434px,79.021px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:4.73px;
}
#_idContainer023 {
	-webkit-transform:translate(81.936px,78.126px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.38px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(81.936px,78.126px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:7.99px;
}
#_idContainer024 {
	-webkit-transform:translate(89.734px,76.125px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(89.734px,76.125px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:8.95px;
}
#_idContainer025 {
	-webkit-transform:translate(36.850px,59.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:72.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.850px,59.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:72.14px;
}
#_idContainer026 {
	-webkit-transform:translate(40.612px,63.250px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:64.62px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(40.612px,63.250px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:64.63px;
}
#_idContainer027 {
	-webkit-transform:translate(45.232px,101.053px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(45.232px,101.053px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:7.93px;
}
#_idContainer028 {
	-webkit-transform:translate(54.050px,99.498px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(54.050px,99.498px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:7.93px;
}
#_idContainer029 {
	-webkit-transform:translate(50.850px,107.132px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(50.850px,107.132px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:7.93px;
}
#_idContainer030 {
	-webkit-transform:translate(85.167px,94.012px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(85.167px,94.012px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:7.93px;
}
#_idContainer031 {
	-webkit-transform:translate(93.984px,92.457px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(93.984px,92.457px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:7.93px;
}
#_idContainer032 {
	-webkit-transform:translate(90.785px,100.091px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(90.785px,100.091px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:7.93px;
}
#_idContainer033 {
	-webkit-transform:translate(63.856px,99.097px) rotate(350.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(63.856px,99.097px) rotate(350.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:19.21px;
}
#_idContainer034 {
	-webkit-transform:translate(25.440px,54.566px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:437.09px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(25.440px,54.566px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:331.72px;
}
#_idContainer035 {
	-webkit-transform:translate(113.385px,54.078px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:77.31px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(113.385px,54.078px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:249.45px;
}
#_idContainer036 {
	-webkit-transform:translate(-371.339px,-8.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:532.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-371.339px,-8.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:742.68px;
}
#_idContainer037 {
	-webkit-transform:translate(-339.308px,36.992px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-339.308px,36.992px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:681.73px;
}
#_idContainer038 {
	-webkit-transform:translate(307.559px,476.155px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.07px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(307.559px,476.155px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.01px;
}
#_idContainer040 {
	-webkit-transform:translate(9.877px,10.165px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(9.877px,10.165px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:21.12px;
}
#_idContainer042 {
	-webkit-transform:translate(9.950px,57.913px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.95px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(9.950px,57.913px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:32.49px;
}
#_idContainer044 {
	-webkit-transform:translate(9.867px,112.312px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(9.867px,112.312px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:34.27px;
}
#_idContainer046 {
	-webkit-transform:translate(9.867px,166.712px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(9.867px,166.712px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:34.07px;
}
#_idContainer048 {
	-webkit-transform:translate(9.867px,221.112px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(9.867px,221.112px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:34.54px;
}
#_idContainer050 {
	-webkit-transform:translate(9.867px,275.512px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(9.867px,275.512px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:34.06px;
}
#_idContainer052 {
	-webkit-transform:translate(9.867px,339.183px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(9.867px,339.183px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:15.75px;
}
#_idContainer053 {
	-webkit-transform:translate(337.393px,62.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:367.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(337.393px,62.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:16.94px;
}
#_idContainer054 {
	-webkit-transform:translate(91.417px,36.635px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.94px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(91.417px,36.635px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:238.82px;
}
#_idContainer055 {
	-webkit-transform:translate(5.669px,54.566px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:437.09px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5.669px,54.566px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:361.90px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
