@font-face {
	font-family:"Boston Traffic";
	font-style:normal;
	font-weight:normal;
	src : url("../font/BostonTraffic.ttf");
}
@font-face {
	font-family:"A-OTF Gothic MB101 Pro DB";
	font-style:normal;
	font-weight:600;
	src : url("../font/GothicMB101Pro-DeBold.otf");
}
@font-face {
	font-family:"TBUDGothic Std R";
	font-style:normal;
	font-weight:normal;
	src : url("../font/TBUDGoStd-Regular.otf");
}
@font-face {
	font-family:"TBUDGothic Std SL";
	font-style:normal;
	font-weight:200;
	src : url("../font/TBUDGoStd-SuperLight.otf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.基本グラフィックフレーム {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.基本テキストフレーム {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:"Boston Traffic", sans-serif;
	font-size:155.9px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"TBUDGothic Std SL", sans-serif;
	font-size:155.9px;
	font-style:normal;
	font-weight:200;
}
span.CharOverride-3 {
	color:#003b87;
	font-family:"A-OTF Gothic MB101 Pro DB", sans-serif;
	font-size:198.4px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-4 {
	color:#003b87;
	font-family:"A-OTF Gothic MB101 Pro DB", sans-serif;
	font-size:311.8px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-5 {
	color:#000000;
	font-family:"TBUDGothic Std SL", sans-serif;
	font-size:141.7px;
	font-style:normal;
	font-weight:200;
}
span.CharOverride-6 {
	color:#000000;
	font-family:"TBUDGothic Std R", sans-serif;
	font-size:170.1px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#000000;
	font-family:"TBUDGothic Std R", sans-serif;
	font-size:184.3px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-webkit-transform:translate(-8.504px,-8.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:532.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-8.504px,-8.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:742.68px;
}
#_idContainer001 {
	-webkit-transform:translate(23.527px,36.992px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(23.527px,36.992px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:681.73px;
}
#_idContainer002 {
	-webkit-transform:translate(36.850px,476.155px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.07px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.850px,476.155px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.01px;
}
#_idContainer003, #_idContainer031 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:41.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:16.94px;
}
#_idContainer004 {
	-webkit-transform:translate(5.285px,30.967px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5.285px,30.967px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:21.12px;
}
#_idContainer005, #_idContainer033 {
	-webkit-transform:translate(0.000px,54.399px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:41.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,54.399px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:16.94px;
}
#_idContainer006 {
	-webkit-transform:translate(5.211px,92.017px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.95px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5.211px,92.017px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:32.49px;
}
#_idContainer007, #_idContainer035 {
	-webkit-transform:translate(0.000px,108.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:41.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,108.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:16.94px;
}
#_idContainer008 {
	-webkit-transform:translate(5.294px,146.418px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5.294px,146.418px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:34.27px;
}
#_idContainer009, #_idContainer037 {
	-webkit-transform:translate(0.000px,163.198px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:41.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,163.198px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:16.94px;
}
#_idContainer010 {
	-webkit-transform:translate(5.294px,200.816px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5.294px,200.816px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:34.07px;
}
#_idContainer011, #_idContainer039 {
	-webkit-transform:translate(0.000px,217.598px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:41.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,217.598px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:16.94px;
}
#_idContainer012 {
	-webkit-transform:translate(5.294px,255.214px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5.294px,255.214px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:34.54px;
}
#_idContainer013, #_idContainer041 {
	-webkit-transform:translate(0.000px,271.997px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:41.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,271.997px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:16.94px;
}
#_idContainer014 {
	-webkit-transform:translate(5.294px,309.617px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5.294px,309.617px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:34.06px;
}
#_idContainer015, #_idContainer043 {
	-webkit-transform:translate(0.000px,326.397px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:41.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,326.397px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:16.94px;
}
#_idContainer016 {
	-webkit-transform:translate(5.294px,354.745px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5.294px,354.745px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:15.75px;
}
#_idContainer017 {
	-webkit-transform:translate(8.503px,62.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:367.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.503px,62.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:16.94px;
}
#_idContainer018 {
	-webkit-transform:translate(41.811px,56.692px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:419.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(41.811px,56.692px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:306.85px;
}
#_idContainer019 {
	-webkit-transform:translate(177.165px,62.403px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(177.165px,62.403px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:82.29px;
}
#_idContainer020 {
	-webkit-transform:translate(45.354px,55.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(45.354px,55.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:109.84px;
}
#_idContainer021 {
	-webkit-transform:translate(68.340px,184.996px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:27.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(68.340px,184.996px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:42.52px;
}
#_idContainer022 {
	-webkit-transform:translate(227.657px,167.804px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:21.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(227.657px,167.804px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:94.47px;
}
#_idContainer023 {
	-webkit-transform:translate(68.340px,301.930px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:51.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(68.340px,301.930px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:98.69px;
}
#_idContainer024 {
	-webkit-transform:translate(228.631px,373.803px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:40.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(228.631px,373.803px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:110.87px;
}
#_idContainer025 {
	-webkit-transform:translate(278.769px,61.380px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(278.769px,61.380px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:65.64px;
}
#_idContainer026 {
	-webkit-transform:translate(226.505px,189.019px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(226.505px,189.019px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:95.62px;
}
#_idContainer027 {
	-webkit-transform:translate(48.357px,390.256px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(48.357px,390.256px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:106.84px;
}
#_idContainer028 {
	-webkit-transform:translate(-371.339px,-8.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:532.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-371.339px,-8.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:742.68px;
}
#_idContainer029 {
	-webkit-transform:translate(-339.308px,36.992px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-339.308px,36.992px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:681.73px;
}
#_idContainer030 {
	-webkit-transform:translate(307.559px,476.155px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.07px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(307.559px,476.155px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.01px;
}
#_idContainer032 {
	-webkit-transform:translate(9.876px,10.165px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(9.876px,10.165px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:21.12px;
}
#_idContainer034 {
	-webkit-transform:translate(9.950px,57.913px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.95px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(9.950px,57.913px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:32.49px;
}
#_idContainer036 {
	-webkit-transform:translate(9.867px,112.312px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(9.867px,112.312px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:34.27px;
}
#_idContainer038 {
	-webkit-transform:translate(9.867px,166.712px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(9.867px,166.712px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:34.07px;
}
#_idContainer040 {
	-webkit-transform:translate(9.867px,221.112px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(9.867px,221.112px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:34.54px;
}
#_idContainer042 {
	-webkit-transform:translate(9.867px,275.512px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(9.867px,275.512px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:34.06px;
}
#_idContainer044 {
	-webkit-transform:translate(9.867px,339.183px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(9.867px,339.183px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:15.75px;
}
#_idContainer045 {
	-webkit-transform:translate(337.393px,62.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:367.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(337.393px,62.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:16.94px;
}
#_idContainer046 {
	-webkit-transform:translate(14.881px,57.401px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:415.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(14.881px,57.401px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:306.85px;
}
#_idContainer047 {
	-webkit-transform:translate(18.779px,355.894px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:114.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(18.779px,355.894px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:299.06px;
}
#_idContainer048 {
	-webkit-transform:translate(39.643px,83.707px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:40.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(39.643px,83.707px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:95.62px;
}
#_idContainer049 {
	-webkit-transform:translate(18.425px,145.318px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(18.425px,145.318px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:160.51px;
}
#_idContainer050 {
	-webkit-transform:translate(116.574px,166.615px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:34.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(116.574px,166.615px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:79.02px;
}
#_idContainer051 {
	-webkit-transform:translate(24.067px,175.595px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(24.067px,175.595px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:56.72px;
}
#_idContainer052 {
	-webkit-transform:translate(231.732px,83.707px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(231.732px,83.707px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:62.07px;
}
#_idContainer053 {
	-webkit-transform:translate(214.192px,165.912px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(214.192px,165.912px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:72.94px;
}
#_idContainer054 {
	-webkit-transform:translate(252.788px,308.223px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(252.788px,308.223px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:47.21px;
}
#_idContainer055 {
	-webkit-transform:translate(26.364px,258.841px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(26.364px,258.841px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:79.02px;
}
#_idContainer056 {
	-webkit-transform:translate(8.503px,408.188px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:79.04px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.503px,408.188px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:66.53px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
